registry=https://registry.npmmirror.com/
@huggingface:registry=https://registry.npmmirror.com/
@modelcontextprotocol:registry=https://registry.npmmirror.com/
fetch-retries=5
fetch-retry-factor=2
fetch-timeout=600000
